*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.ab-contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ab-contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/rrethneveback.jpg);
    background-size: cover;
    position: relative;
}
.ab-contact .ab-cont{
    max-width: 800px;
    text-align: center;

}
.ab-contact .ab-cont h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;

}
.ab-contact .ab-cont p{
    font-weight: 300;
    color: #fff;

}
.ab-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.ab-container .ab-contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.ab-container .ab-contactInfo .ab-box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.ab-container .ab-contactInfo .ab-box .ab-icons{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;


}
.ab-container .ab-contactInfo .ab-box .ab-text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.ab-container .ab-contactInfo .ab-box .ab-text h3{
    font-weight: 500;
    color: #00bcd4;

}
.ab-contactform{
    width: 40%;
    padding: 40px;
    background: #fff;

}
.ab-contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;

}
.ab-contactform .ab-inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.ab-contactform .ab-inputbox input
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.ab-contactform .ab-inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.ab-contactform .ab-inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.ab-contactform .ab-inputbox input:focus ~ span,
.ab-contactform .ab-inputbox input:valid ~ span,
.ab-contactform .ab-inputbox textarea:focus ~ span,
.ab-contactform .ab-inputbox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);

}
.ab-contactform .ab-inputbox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}
@media (max-width:700px)
{
    .ab-contact{
        padding: 30px;
    }
    .ab-container{
        flex-direction: column;
        
    }
    .ab-container .contactInfo{
        margin-bottom: 40px;
    }
    .ab-container .ab-contactInfo,
    .ab-contactform
    {
        width: 100%;
    }
}
